openapi: "3.0.0"
info:
  title: "Product API"
  version: "1.0.0"
servers:
  - url: "https://c5suite.tronic5.com/api/v1"
    description: "Production server"
paths:
  /products:
    get:
      summary: "Get Product list"
      tags:
        - "Product"
      responses:
        "200":
          description: "Successful operation"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Product"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
  /products/{id}:
    get:
      summary: "Get Product by ID"
      tags:
        - "Product"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "integer"
          description: "Product ID"
      responses:
        "200":
          description: "Successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
    put:
      summary: "Update Product by ID"
      tags:
        - "Product"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "integer"
          description: "Product ID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: "object"
              properties:
                name_en:
                  type: "string"
                  description: "Product name in English"
                name_de:
                  type: "string"
                  description: "Product name in German"
                description_en:
                  type: "string"
                  description: "Product description in English"
                description_de:
                  type: "string"
                  description: "Product description in German"
      responses:
        "200":
          description: "Successful operation"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
components:
  schemas:
    Product:
      type: "object"
      properties:
        id:
          type: "integer"
        name_en:
          type: "string"
        name_de:
          type: "string"
        description_en:
          type: "string"
        description_de:
          type: "string"
  securitySchemes:
    token:
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
security:
  - token: []